@media (min-width: 768px) {
  .container {
    width: 80%;
  }
  body::before{
    display: block;
    content: ' ';
    height: 56px;
  }
  #content-section {
    padding-top: 80px; /* Adjust as needed */
  }
  .custom-font {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
  .card img {
    height: 150px; /* Set a fixed height for the images */
    object-fit: cover; /* Ensure that the images maintain their aspect ratio */
}
}